<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Yellow Rockets: Password reset</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center; height: 160px;"
    ><a href="https://training.talkpython.fm/"><img
            src="https://training.talkpython.fm/static/email/img/email-header.png"
            style="height: 160px;"
    /></a></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>
        <div>
            So we heard that you might have forgotten your password at
            Blue Yellow Rockets. Don't worry, you can use this link below to reset it.<br>
            <br>
            <div style="text-align: center;">
                <a href="http://localhost:6543/account/reset_password/{reset_code}"
                   style="font-weight: bold; color: white; text-decoration: none;border-radius: 5px; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;background-color: color: #FFF;background-color: #5CB85C;border-color: #4CAE4C;"
                >Reset your password</a>
            </div>
            <br>
            If that link didn't work, just copy and paste this into your browser:<br>
            <br>
            <div style="text-align: center; font-weight: bold;">
                http://localhost:6543/account/reset_password/{reset_code}<br>
            </div>
            <br>
            If you didn't request this reset, you should be able to safely ignore it.
            If you have questions, just reply to get back to us.
        </div>
        <br>
        <div>
            <div style="float: right; font-size: 14px; font-weight: bold; color: #666; text-align: center; line-height: 1.2em;">

                <a href="https://twitter.com/mkennedy"
                   style="color: #666; text-decoration: none;"
                ><img
                        src="https://training.talkpython.fm/static/email/img/Michael_Kennedy_sm.jpg"
                        style="height: 90px; border-radius: 5px;"
                /></a>
                <div><a href="https://twitter.com/mkennedy"
                        style="color: #666; text-decoration: none;"
                >Michael Kennedy</a></div>
                <div><a href="http://talkpython.fm/"
                        style="color: #666; text-decoration: none;"
                >Host, Talk Python To Me</a></div>
                <div><a href="https://training.talkpython.fm/"
                        style="color: #666; text-decoration: none;"
                >Founder, Talk Python Training</a></div>
            </div>
            <div>
                Thanks for using Talk Python Training,<br>
                Michael
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>