<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Blue Yellow Rockets</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center; height: 160px;"
    ><a href="https://training.talkpython.fm/"><img
            src="https://training.talkpython.fm/static/email/img/email-header.png"
            style="height: 160px;"
    /></a></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>

        <div>
            Congratulations {email}, thank you for registering with our site!
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <a href="https://training.talkpython.fm/courses/all"
               style="font-weight: bold; text-decoration: none; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;border-radius: 4px;color: #FFF;background: #5CB85C none;border-color: #4CAE4C;"
            >Find your favorite album</a>
        </div>
        <br>
        <br>
        <div>
            <div style="float: right; font-size: 14px; font-weight: bold; color: #666; text-align: center; line-height: 1.2em;">

                <a href="https://twitter.com/mkennedy"
                   style="color: #666; text-decoration: none;"
                ><img
                        src="https://training.talkpython.fm/static/email/img/Michael_Kennedy_sm.jpg"
                        style="height: 90px; border-radius: 5px;"
                /></a>
                <div><a href="https://twitter.com/mkennedy"
                        style="color: #666; text-decoration: none;"
                >Michael Kennedy</a></div>
                <div><a href="http://talkpython.fm/"
                        style="color: #666; text-decoration: none;"
                >Host, Talk Python To Me</a></div>
                <div><a href="https://training.talkpython.fm/"
                        style="color: #666; text-decoration: none;"
                >Founder, Talk Python Training</a></div>
            </div>
            <div>
                Thanks for registering,<br>
                Michael & the band
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>